body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgb(127, 166, 239), rgb(140, 150, 180));
    font-family: Arial, sans-serif;
}

#form {
    background-color: rgb(217, 173, 173);
    padding: 50px;
    border-radius: 12px;
    border : 2px solid black;
    box-shadow: 5px 5px 10px 5px gray;
    display: flex;
    flex-direction: column;   /* column looks better for forms */
    gap: 15px;
    width: 300px;
}
h1{
    margin:20px;
}